<!DOCTYPE html>

<html>
<head>
  <title>CRUD APP</title>
</head>

<body>
    <h1>Basic Flask CRUD APP</h1>
    <a href="/">Home</a>
    <a href="/add">Add Player</a>
    <a href="/delete">Delete Player</a>
    <a href="/search">Search Player</a>


    
    <form action="/add" method="post">
      <table>
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>ID</td><td><input type="number" name="mid"></td></tr>  
        <tr><td>Score</td><td><input type="number" name="pscore"></td></tr>  
        <tr><td><input type="submit" value="Submit"></td></tr>  
      </table>
    </form>


    

</body>




</html>